@model IEnumerable<Covid_19_WebApp.Models.Citizen>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
@section Styles{
  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="assets/images/icon-removebg-preview.png">
    <link rel="shortcut icon" href="assets/images/fav.jpg">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="~/assets/css/style.css.map">
}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<center>
    <h1>Citizen Information</h1>
</center>

<br/>
<br/>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CitizenId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CitizenId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CitizenId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CitizenId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CitizenId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
