@model Covid_19_WebApp.Models.VACCINE_REGISTRATION_FORM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>VACCINE_REGISTRATION_FORM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VaccineID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaccineID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CitizenID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CitizenID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InjectionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InjectionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InjectionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InjectionNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FormID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
