@model Covid_19_WebApp.Models.VACCINE_REGISTRATION_FORM

@{
    ViewData["Title"] = "Details";
   if(GlobalVariables.isManagerLogin == true)
    {
        Layout = "~/Views/Shared/_ManagerLayout.cshtml";
    }

    if(GlobalVariables.isLogin == true)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}
@section Styles{
  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="assets/images/icon-removebg-preview.png">
    <link rel="shortcut icon" href="assets/images/fav.jpg">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="~/assets/css/style.css.map">
}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<center>
    
<h1>Details</h1>
</center>


<div>
    <h4>Vaccine Register Form</h4>
    <hr />
    <dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VaccineID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaccineID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CitizenID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CitizenID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InjectionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InjectionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InjectionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InjectionNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FormID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
