@model Covid_19_WebApp.Models.Vaccine_Entry

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Vaccine_Entry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount_Vaccine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount_Vaccine)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EntryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
