@model IEnumerable<Covid_19_WebApp.Models.Vaccine_Entry>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManagerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount_Vaccine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount_Vaccine)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EntryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EntryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EntryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
