@model Covid_19_WebApp.Models.Vaccine_Record

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Vaccine_Record</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CitizenID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CitizenID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number_Injection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number_Injection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstVaccine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstVaccine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondVaccine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondVaccine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdVaccine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdVaccine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.First_NurseID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.First_NurseID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Second_NurseID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Second_NurseID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Third_NurseID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Third_NurseID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RecordID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
