@model IEnumerable<Covid_19_WebApp.Models.Warehouse_Vaccine>

@{
    ViewData["Title"] = "Index";
   Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

@section Styles{
  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="assets/images/icon-removebg-preview.png">
    <link rel="shortcut icon" href="assets/images/fav.jpg">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="~/assets/css/style.css.map">
}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<center>
    <h1>Vaccine Stock</h1>
</center>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VaccineId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VaccineId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VaccineId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VaccineId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VaccineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
